$primary: rgb(85, 207, 255);
$secondary: rgb(253, 172, 51);
$grey: rgb(214, 214, 214);
$lighter-prim: lighten(
  $color: $primary,
  $amount: 15%,
);
$lighter-grey: lighten(
  $color: $grey,
  $amount: 7%,
);
@mixin small() {
  @media only screen and (max-width: 320px) {
    @content;
  }
}
@mixin medium-small() {
  @media only screen and (max-width: 720px) and (min-width: 321px) {
    @content;
  }
}
@mixin large() {
  @media only screen and (max-width: 1200px) and (min-width: 721px) {
    @content;
  }
}
